h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}

/* Should be:

1 NAME h1
1 LBRACE {
2 NAME COLOR
2 COLON :
2 NAME blue
2 SEMICOLON ;
3 NAME font-family
3 COLON :
3 NAME verdana
3 SEMICOLON ;
4 NAME font-size
4 COLON :
4 UNIT 300%
4 SEMICOLON ;
5 RBRACE }
7 NAME p
7 LBRACE {
8 NAME color
8 COLON :
8 NAME red
8 SEMICOLON ;
9 NAME font-family
9 COLON :
9 NAME courier
9 SEMICOLON ;
10 NAME font-size
10 COLON :
10 UNIT 160%
10 SEMICOLON ;
11 RBRACE }
47 COMMENT 35

 */
